<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue_v-else-if</title>
</head>
<body>
<div id="div1">
    <span v-if=" message === 'A' ">A</span>
    <span v-if=" message === 'C' ">C</span>
    <span v-if=" message === 'B' ">B</span>
    <span v-if=" message === 'D' ">D</span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vue = new Vue({
        el:"#div1",
        data:{
            message:"A"
        }
    });
</script>
</body>
</html>