<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <form >
        <input v-model="sensor.message.id">
        <input v-model="sensor.message.name">
    </form>

</div>
<script>
    <!--    创建个一个vue对象，存放model层数据，和方便在浏览器consloe改变数据的-->
    var vue =   new Vue({
        //id选择器
        el: "#app",
        //数据存放区model层
        data: {
           sensor:{
               message: {
                   id: "1",
                   name: "3223"
               },
               things: []
           }
        },
        method:{

        }
    })
</script>
</body>
</html>